<div class="container">
  <div class="row">
    <h3 class="text-left">My Products</h3>
    <div class="text-left">
      <a [routerLink]="['browse']" class="x">Browse</a>
      <a [routerLink]="['listing']" class="y">My Listings</a>
      <a [routerLink]="['']" class="y">Sign Out</a>
    </div>
  </div>


  <div class="row">
    <h3 class="text-left">Post A Listing</h3>
    <form name="formData"  (submit)="post_product(formData)" #formData="ngForm">
      
      <div class="col-sm-4 z text-left blam">
        <h4 class="text-left">Image Upload</h4>
        <input type="text" name="url" class="text-left" placeholder=" Product image url" [(ngModel)]="product.url">
      </div>

      
      <div class="col-sm-6 z text-left">
        <h4>Title</h4>
        <input type="text" placeholder="Product title" name="title" required [(ngModel)]="product.title" #title="ngModel">
        <span class="err" *ngIf="!title.valid && title.dirty">Title field is required</span>
        
        <h4>Description</h4>
        <textarea class="abc" name="desc" placeholder="Product decription" required [(ngModel)]="product.desc" #desc="ngModel"></textarea>
        <span class="err" *ngIf="!desc.valid && desc.dirty">Description field is required</span>
      </div>
      
      
      <div class="col-sm-2 z text-left">
        <h4>Price</h4>
        <input type="text" name="price" class="zz" placeholder="Product price" required [(ngModel)]="product.price" #price="ngModel">
        <span class="err" *ngIf="!price.valid && price.dirty">Price field is required</span>

        <h4>Location</h4>
        <input type="text" name="location" class="zz" placeholder="Product location" required [(ngModel)]="product.location" #location="ngModel">
        <span  class="err" *ngIf="!location.valid && location.dirty">Location is required</span><br>
        <button [disabled]="!formData.valid" type="submit" class="btn yy">Sell My Product!</button>
      </div>

    </form>
  </div>
</div><br>

<div class="container">
    <div class="row">
      <h2 class="text-left">Edit or Delete Listings</h2>
    </div>
    <div class="row blah" *ngFor="let product of products">
      <form name="formData" (submit)="update_product(formData,product._id)" #formData="ngForm">
          <div class="row blah" *ngIf="product._seller==id">
              <div class="col-sm-4 z text-left blam edit">
                <h4 class="text-left">Image Upload</h4>
                <input type="text" name="url" class="text-left" placeholder={{product.url}} [(ngModel)]="product.url" #url="ngModel">
              </div>

        
              <div class="col-sm-6 z text-left edit">
                <h4>Title</h4>
                <input type="text" name="title" placeholder={{product.title}} [(ngModel)]="product.title" #title="ngModel"><br><br>
          
                <h5>Description</h5>
                <textarea class="abcz" name="desc" placeholder={{product.desc}} [(ngModel)]="product.desc" #desc="ngModel"></textarea>
              </div>
        
        
              <div class="col-sm-2 z text-left edit">
                <h4>Price</h4>
                <input type="text" name="price" class="zz" placeholder=${{product.price}} [(ngModel)]="product.price" #price="ngModel">

                <h4>Location</h4>
                <input type="text" name="location" class="zz" placeholder={{product.location}} [(ngModel)]="product.location" #location="ngModel">
                <button type="submit" class="btn dd">Update</button>
                <button type="button" class="btn cc" (click)="delete_product(product._id)">Delete</button>
              </div>
            </div>
        </form> 
    </div>  
</div>

<div class="container footer">
</div>